body{
    font-family: Arial, sans-serif;
    background-color: rgb(213, 233, 243);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(174, 172, 172, 0.571);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(97, 227, 71);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: rgb(101, 235, 74);
}

.card{
    background: linear-gradient(180deg, rgb(105, 199, 239), rgb(236, 140, 72));
    padding: 50px;
    box-shadow: 2px 2px 5px rgba(28, 28, 28, 0.762);
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 15px;
}

p{
    font-size: 1.5rem;
    margin: 6px 0px;
}

.cityDisplay, .tempDisplay{
    font-size: 3.7rem;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.791);
    margin-bottom: 15px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 10px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji{
    margin: 0;
    font-size: 7rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(15, 15, 15, 0.769);
}